MONGO_URI=your_mongo_url
JWT_SECRET=secret_token
JWT_EXPIRE=secret_time_30d

# Server Settings
PORT=port_number
NODE_ENV=development

# Database Settings
MONGO_URI=your_mongo_url

# JWT Settings
JWT_SECRET=secret_token
JWT_EXPIRE=secret_time_30d
JWT_COOKIE_EXPIRE=secret_time_in_days

# File Upload Settings
MAX_FILE_UPLOAD=file_size_limit_in_bytes
FILE_UPLOAD_PATH=file_upload_path