# General
node_modules/
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Files 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/config/.env
**/.env

# Backend Specific
backend/node_modules/
backend/dist/
backend/build/

# Frontend Specific
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/stats.json

# Testing
coverage/
.nyc_output/

# Build & Cache
dist/
build/
.cache/
.parcel-cache/
.next/
out/